@media (min-width: 768px) { 
    .desktop {
        display: flex;
    }
    .mobile-menu {
        display: none;
    } 
    .div-logo {
        display: none;
    }

    .navbar {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff; 
        padding: 1rem 10rem;
        z-index: 200;
        transition: .5s;
        padding-top: 2rem;
    }

    .nav-border {
        box-shadow: #272a31bd 1px 5px 9px;
    }
    .navbar img {
        display: flex;
        width: 12rem;
        height: 3rem; 
    }
    .navbar li  { 
        margin-left: 3rem;
    }

    .navbar li a { 
        position: relative;
    }

    .navbar li a:hover  {  
        color: rgba(204, 41, 41, 0.774);
    }

    .navbar .news {
        margin-left: 3rem;
        padding: .0rem 1rem;
        border: 3px solid red;
    }

    .upper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgb(62,62,62);
        color: #fff;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: .3rem;
        padding-right: 10rem;
    }

    .upper i {
        margin-right: 1rem;
    }

    .upper p {
        font-size: .7rem;
    }
 
    .home {
        padding-top: 10%;
        padding-left: 9rem; 
        height: 120vh;
    }

    .home-txt {
        margin-bottom: 10px;
    } 
    .home-txt h2 {
        margin-bottom: 1rem; 
        text-transform: uppercase; 
        line-height: 60px;
        font-size: 58px;
        background-clip: text;
        font-weight: 900; 
        font-family: myFirstFont, sans-serif;
        color: #ff0d0096;
    }

    .home .msg {
        width: 450px;
        margin: 0;
        background: #d0d2d7;
        margin-bottom: 1rem;
    }

    .home .time {
        font-size: 1.5rem;
    }
    .program-container {
        display: flex;
        justify-content: center;
    }

    .program .pros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: rgba(255, 255, 255, 0.103); 
        color: #fff;  
        font-size: .8rem;
        width: 14%; 
        min-width: 14%;
        margin-right: .5rem;
        padding-left: 0;
        text-align: center;
        padding: 1rem 0;
        cursor: pointer; 
    }

    .program .pros:hover { 
        background-color: rgba(255, 255, 255, 0.418); 
        border: 1px solid #fff; 
    }

    .program .pros i {
        font-size: 2rem;
    }

    .program .pros h4{
        font-size: .8rem;
        width: 49%;
        margin-top: .3rem;
    }
    .program .pros p{
        width: 90%;
        margin-left: -1rem;
    }

    .program button {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        text-decoration: underline;
    }

    .program button:hover { 
        background-color: rgba(204, 41, 41, 0);
        color: rgb(255, 255, 255);
    }
    .speaker-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
    }

    .more {
        display: none;
    }
    .partner-list {
        justify-content: center;
    }
    .partner-list img {
        margin-right: 3rem;
    }
    .partner h2::before {
        left: 48%;
    }

    footer {
        padding: 4rem 10rem;
    }

    .ft p {
        display: none;
    }
    .ft img {
        width: 20rem; 
    }
    .fm a {
        color: rgba(204, 41, 41, 0.774);
        font-size: 1rem;
        margin-top: 1rem;
    }

    .fm p {
        margin: .5rem 0;
        display: block;
    }

    /* About section  */
} 

@media (min-width: 950px) {  
    .navbar li{ 
        margin-left: 1rem;
        font-size: 1rem;
    }

    .navbar{
        padding: 2rem 2rem 1rem 5rem;
    }

    .home {
        padding-top: 10%;
        padding-left: 5rem;  
    }
    .home-txt h2 { 
        line-height: 52px;
        font-size: 50px; 
    }

    footer {
        padding: 3rem 5rem;
    }

    .ft p {
        display: none;
    }
    .ft img {
        width: 15rem; 
    }
    .fm a {
        color: rgba(204, 41, 41, 0.774);
        font-size: 1rem;
        margin-top: 1rem;
    }

    .fm {
        margin: .5rem 0;
        margin-left: 3rem;
        display: block;
    }
}

@media (max-width: 825px) {
    .home-txt h2 { 
        line-height: 52px;
        font-size: 45px; 
    }
}


@media (min-width: 1115px) {   
    .navbar{
        padding: 2rem 1rem 1rem 5rem;
    }
    .upper { 
        padding-right: 1rem;
    }
    .home-txt h2 { 
        line-height: 52px;
        font-size: 49px; 
    }
}